@model IEnumerable<HN120_ShopQuanAo.Data.Models.ChatLieu>

@{
    ViewData["Title"] = "AllChatLieuManager";
}

<h1>AllChatLieuManager</h1>

<p>
    <a asp-action="CreateChatLieu" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaChatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChatLieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                            <a asp-action="UpdateChatLieu" asp-route-id="@item.MaChatLieu" class="btn status delivered">Update</a>
                            <a asp-action="ChatLieuDetail" asp-route-id="@item.MaChatLieu" class="btn status tamkhoa"> Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
