@model IEnumerable<HN120_ShopQuanAo.Data.Models.Size>

@{
    ViewData["Title"] = "AllSizeManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AllSizeManager</h1>

<p>
    <a asp-action="CreateSize">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
                <td style="text-align : center; margin-bottom : 20px">
                         <a asp-action="SizeDetail" asp-controller="Size" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaSize">Chi Tiết</a>
                            <a asp-action="UpdateSize" asp-controller="Size" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaSize">Sửa</a>    

                    </td>
        </tr>
}
    </tbody>
</table>
