@model IEnumerable<HN120_ShopQuanAo.Data.Models.Size>

@{
    ViewData["Title"] = "AllSizeManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Quản Lý Size</h1>

<div class="form-group">
    <form method="get" asp-action="AllSizeManager" asp-controller="Size" asp-area="Admin">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="searchString" id="searchInput" class="form-control" placeholder="Tìm kiếm tên chất liệu" value="@ViewData["CurrentFilter"]" onchange="this.form.submit()" />
            </div>

        </div>
    </form>
</div>
<div>
    <a asp-action="CreateSize" class="btn btn-primary">Thêm Size</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Mã </th>
            <th>Tên </th>
            <th>Mo ta</th>
            <th>Trạng Thái</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                                <tr>
                                                <td>@item.MaSize</td>
                                                <td>@item.TenSize</td>
                                            <td>@item.MoTa</td>
                                        <td>@(item.TrangThai == 1 ? "Khả Dụng" : "Không Khả Dụng")</td>
                                    <td>


                                                                <a asp-action="UpdateSize" asp-route-id="@item.MaSize" class="btn btn-warning">Cập Nhật</a>
                    @if (item.TrangThai == 1)
                    {
                                                                                        <form asp-action="UpdateStatusSizeKKD" method="post" style="display:inline;">
                                                                                            <input type="hidden" name="id" value="@item.MaSize" />
                                                                    <button type="submit" class="btn btn-secondary">Tăt</button>
                                                                </form>
                    }
                    else
                    {
                                                                                        <form asp-action="UpdateStatusSizeKD" method="post" style="display:inline;">
                                                                                            <input type="hidden" name="id" value="@item.MaSize" />
                                                                    <button type="submit" class="btn btn-success">Bật</button>
                                                                </form>
                    }
                                    </td>
                                </tr>
        }
    </tbody>
</table>