@model IEnumerable<HN120_ShopQuanAo.Data.Models.MauSac>

@{
    ViewData["Title"] = "AllMauSacManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AllMauSacManager</h1>

<p>
    <a asp-action="CreateMauSac">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaMau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td style="text-align : center; margin-bottom : 20px">
                <a asp-action="MauSacDetail" asp-controller="MauSac" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaMau">Chi Tiết</a>
                <a asp-action="UpdateMauSac" asp-controller="MauSac" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaMau">Sửa</a>    

            </td>
            
        </tr>
}
    </tbody>
</table>
