@model IEnumerable<HN120_ShopQuanAo.Data.Models.ThuongHieu>

@{
    ViewData["Title"] = "AllThuongHieuManager";
}

<h1>AllThuongHieuManager</h1>

<p>
    <a asp-action="CreateThuongHieu" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                           <a asp-action="UpdateThuongHieu" asp-route-id="@item.MaThuongHieu" class="btn status delivered">Update</a>
                           <a asp-action="ThuongHieuDetail" asp-route-id="@item.MaThuongHieu" class="btn status tamkhoa"> Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
