@model IEnumerable<HN120_ShopQuanAo.Data.Models.ThuongHieu>

@{
    ViewData["Title"] = "AllThuongHieuManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AllThuongHieuManager</h1>

<p>
    <a asp-action="CreateThuongHieu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
                <td style="text-align : center; margin-bottom : 20px">
                <a asp-action="ThuongHieuDetail" asp-controller="ThuongHieu" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaThuongHieu">Chi Tiết</a>
                <a asp-action="UpdateThuongHieu" asp-controller="ThuongHieu" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaThuongHieu">Sửa</a>    

                </td>
        </tr>
}
    </tbody>
</table>
