@using HN120_ShopQuanAo.Data.Models
@model IEnumerable<HN120_ShopQuanAo.Data.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    IEnumerable<Voucher> lstvc = ViewBag.lstvc as IEnumerable<Voucher>;
    IEnumerable<User> lstus = ViewBag.lstus as IEnumerable<User>;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/HoaDon.js"></script>
<h1>Hóa Đơn</h1>
@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã Voucher</th>
                <th>Ngày tạo</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Phí ship</th>
                <th>Tổng giá trị</th>
                <th>phương thức thanh toán</th>
                <th>trạng thái</th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;

            }
            @foreach (var item in Model)
            {

                <tr>
                    <td>@i</td>
                    <td>@item.MaVoucher</td>
                    <td>@item.NgayTaoDon</td>
                    <td>@item.TenKhachHang</td>
                    <td>@item.SoDienThoai</td>
                    <td>@item.PhiShip</td>
                    <td>@item.TongGiaTriHangHoa</td>
                    <td>@item.PhuongThucThanhToan</td>
                    @if (item.TrangThai == 1)
                    {
                        <td>Chờ xác nhận</td>
                    }
                    @if (item.TrangThai == 2)
                    {
                        <td>Đã xác nhận</td>
                    }
                    @if (item.TrangThai == 3)
                    {
                        <td>Chờ giao hàng</td>
                    }
                    @if (item.TrangThai == 4)
                    {
                        <td>Giao hàng</td>
                    }
                    @if (item.TrangThai == 5)
                    {
                        <td>Hoàn thành</td>
                    }
                    @if (item.TrangThai == 6)
                    {
                        <td>Đã hủy</td>
                    }

                    <td>
                        <a href="@Url.Action("DetailHoaDon", "HoaDon", new { ma = item.MaHoaDon })" class="btn btn-primary">Chi tiết</a>
                    </td>

                </tr>
                i++;
            }
        </tbody>

    </table>
}
else
{
    <p>Không có dữ liệu.</p>
}