@using HN120_ShopQuanAo.Data.Models
@using HN120_ShopQuanAo.View.Areas.Admin.Data


@{
    ViewData["Title"] = "Index";
   
    //IEnumerable<ChiTietSp> lstctsp = ViewBag.lstctsp as IEnumerable<ChiTietSp>;
    IEnumerable<ChiTietSPView> litspctview = ViewBag.JoinedData   as IEnumerable<ChiTietSPView>;
   
}
@if (litspctview.Any())
{<div class="row">
    <div class="col-md-4">
        <input type="text" id="search-input" class="form-control" onkeyup="filterFunction()" placeholder="Tìm kiếm...">
    </div>
    <div class="col-md-4">
        <select id="select-color" class="form-select" aria-label="Default select example" onchange="filterFunction()">
            <option selected>Chọn màu</option>
            @foreach (var item in litspctview.Select(x => x.TenMau).Distinct())
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <select id="select-size" class="form-select" aria-label="Default selectexample" onchange="filterFunction()">
            <option selected>Chọn size</option>
            @foreach (var item in litspctview.Select(x => x.TenSize).Distinct())
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
</div>
    <table class="table table-bordered" id="sp_table_" style="height: 430px; overflow-y: auto;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá bán</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in litspctview)
            {
                if (item.SoLuongTon > 0)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            <img src="~/photoSanPhamCT/@item.UrlAnhSpct" alt="Combo Image" width="100" height="100" />

                        </td>
                        <td>
                            SKU: @item.SKU<br>
                            Tên sản phẩm: @item.TenSP <br>
                            Size: @item.TenSize<br>
                            Màu: @item.TenMau<br>
                        </td>
                        <td>
                            <span class="money">@item.GiaBan</span><br>
                            <span class="so-luong-kha-dung"> Số lượng khả dụng (@item.SoLuongTon)</span>
                        </td>
                        <td>
                            <button class="btn btn-outline-dange" type="button" id="btn_updatedhct"
                                    data-SKU_="@item.SKU"
                                    data-MaSp_="@item.MaSp"
                                    data-tensz_="@item.TenSize"
                                    data-masize_="@item.MaSize"
                                    data-Tenmau_="@item.TenMau"
                                    data-mamau_="@item.MaMau"
                                    data-makm_="@item.MaKhuyenMai"
                                    data-img_="@item.UrlAnhSpct"
                                    data-dongia_="@item.Dongia"
                                    data-GiaBan_="@item.GiaBan"
                                    data-SoLuongTon_="@item.SoLuongTon"
                                    data-tensp_="@item.TenSP"
                                    data-trangthai_="@item.TrangThai">
                                <i class="fa-solid fa-plus" style="color: #f00f0f;"></i>
                            </button>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>

    </table>
}
else
{
    <p>Không có dữ liệu.</p>
}
<script>
    function filterFunction() {
        var searchInput = document.getElementById("search-input").value.toUpperCase();
        var selectedColor = document.getElementById("select-color").value;
        var selectedSize = document.getElementById("select-size").value;
        var table = document.getElementById("sp_table_");
        var rows = table.getElementsByTagName("tbody")[0].getElementsByTagName("tr");
        // table = document.getElementById("sp_table");
        // tr = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            var color = row.querySelector('[data-mamau_]').getAttribute('data-Tenmau_').trim();
            var size = row.querySelector('[data-masize_]').getAttribute('data-tensz_').trim();
            var tenSp = row.querySelector('[data-tensp_]').getAttribute('data-tensp_').toUpperCase().trim();
            if ((selectedColor === "Chọn màu" || color === selectedColor) &&
                (selectedSize === "Chọn size" || size === selectedSize) &&
                (tenSp.includes(searchInput))) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }

        }
    }
  
</script>
