@model IEnumerable<HN120_ShopQuanAo.Data.Models.TheLoai>

@{
    ViewData["Title"] = "AllTheLoaiManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Quản Lý Thể Loại</h1>


<div class="form-group">
    <form method="get" asp-action="AllTheLoaiManager" asp-controller="TheLoai" asp-area="Admin">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="searchString" id="searchInput" class="form-control" placeholder="Tìm kiếm tên " value="@ViewData["CurrentFilter"]" onchange="this.form.submit()" />
            </div>

        </div>
    </form>
</div>
<div>
    <a asp-action="CreateTheLoai" class="btn btn-primary">Thêm Thể Loại</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Mã </th>
            <th>Tên </th>
            <th>Mô Tả</th>
            <th>Trạng Thái</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                        <tr>
                                <td>@item.MaTheLoai</td>
                                <td>@item.TenTheLoai</td>
                            <td>@item.MoTa</td>
                                <td>@(item.TrangThai == 1 ? "Khả Dụng" : "Không Khả Dụng")</td>
                            <td>

                                        <a asp-action="UpdateTheLoai" asp-route-id="@item.MaTheLoai" class="btn btn-warning">Cập Nhật</a>
                    @if (item.TrangThai == 1)
                    {
                                                        <form asp-action="UpdateStatusTheLoaiKKD" method="post" style="display:inline;">

                                                    <input type="hidden" name="id" value="@item.MaTheLoai" />
                                                    <button type="submit" class="btn btn-secondary">Tăt</button>
                                                </form>
                    }
                    else
                    {

                                                        <form asp-action="UpdateStatusTheLoaiKD" method="post" style="display:inline;">

                                                    <input type="hidden" name="id" value="@item.MaTheLoai" />
                                                    <button type="submit" class="btn btn-success">Bật</button>
                                                </form>
                    }
                            </td>
                        </tr>
        }
    </tbody>
</table>
