@model IEnumerable<HN120_ShopQuanAo.Data.Models.TheLoai>

@{
    ViewData["Title"] = "AllTheLoaiManager";
}

<h1>AllTheLoaiManager</h1>

<p>
    <a asp-action="CreateTheLoai">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaTheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
                <td style="text-align : center; margin-bottom : 20px">
                <a asp-action="TheLoaiDetail" asp-controller="TheLoai" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaTheLoai">Chi Tiết</a>
                <a asp-action="UpdateTheLoai" asp-controller="TheLoai" asp-area="Admin" class="btn btn-primary" asp-route-idbookrt="@item.MaTheLoai">Sửa</a>    

                </td>
        </tr>
}
    </tbody>
</table>
