﻿@using HN120_ShopQuanAo.Data.Models;
@model IEnumerable<HN120_ShopQuanAo.Data.Models.SanPham>

@{
    ViewData["Title"] = "AllSanPhamManager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<SanPham> lstSP = ViewBag.lstSP as List<SanPham>;
    List<ThuongHieu> lstTH = ViewBag.lstTH as List<ThuongHieu>;
    List<TheLoai> lstTL = ViewBag.lstTL as List<TheLoai>;
    List<ChatLieu> lstCL = ViewBag.lstCL as List<ChatLieu>;

}

<div style="background : #fff;">

<h1 style="text-align: center">Quản Lý Sản Phẩm</h1>
<div>
<p>
    <a class="btn btn-primary" asp-action="CreateSanPham">Thêm Sản Phẩm</a>

</p>
<table class="table">
    <thead>
        <tr>
            <tr>
            <th>
                STT
            </th>
            <th>
               Mã SP 
            </th>
            <th>
               Tên 
            </th>
            <th>
              Thương Hiệu
            </th>
            <th>
               Thể Loại
            </th>
            <th>
               Chất Liệu
            </th>
            <th>
                Ảnh
            </th>
            <th>
               Mô Tả 
            </th>
            <th>
                Số Lượng
            </th>
            <th>
               Trạng Thái 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                @{

                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                            <td>
                            @item.MaSp
                            </td>
                            <td>
                            @item.TenSP
                        </td>
                        <td>
                                @{
                                    var thuongHieu = lstTH.FirstOrDefault(th => th.MaThuongHieu == item.MaThuongHieu)?.TenThuongHieu ?? "N/A";
                                }
                                @thuongHieu
                        </td>
                        <td>
                            @{
                                var theLoai = lstTL.FirstOrDefault(tl => tl.MaTheLoai == item.MaTheLoai)?.TenTheLoai ?? "N/A";
                            }
                            @theLoai
                        </td>
                            <td>
                            @{
                                var chatlieu = lstCL.FirstOrDefault(tl => tl.MaChatLieu == item.MaChatLieu)?.TenChatLieu ?? "N/A";
                            }
                            @chatlieu
                            </td>
                        <td >

                                    <img src="~/photoSP/@item.UrlAvatar" alt="SanPham Image" width="100" height="100" />
                            @*<img src="~/photoBooks/@item.MainPhoto" class="rounded float-start" alt="...">*@
                        </td>
                            <td>
                            @item.Mota
                            </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TongSoLuong)
                        </td>
                        <td>
                            @{

                                var trangThai = item.TrangThai == 1 && item.TongSoLuong == 0 ? "Hết Hàng" :
                                                item.TrangThai == 0 ? "Không Khả Dụng" : "Khả Dụng";

                            }
                            @trangThai
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @if (item.TrangThai == 0)
                            {

                                                <form asp-action="UpdateStatusSPKD" method="post" style="display:inline;">

                                                            <input type="hidden" name="id" value="@item.MaSp" />
                                                            <button type="submit" class="btn btn-secondary">Bật</button>
                                                </form>
                            }
                            @if (item.TrangThai == 1)
                            {

                                                           <form asp-action="UpdateStatusSPKKD" method="post" style="display:inline;">

                                                            <input type="hidden" name="id" value="@item.MaSp" />
                                                    <button type="submit" class="btn btn-secondary">Tăt</button>
                                                </form>
                            }

                                    <a asp-action="SanPhamDetail" asp-controller="SanPham" asp-area="Admin" class="btn btn-primary" asp-route-id="@item.MaSp">Chi Tiết</a>
                                    <a asp-action="UpdateSanPham" asp-controller="SanPham" asp-area="Admin" class="btn btn-primary" asp-route-id="@item.MaSp">Sửa</a>    

                                    <a asp-action="AllChiTietSpManager" asp-controller="ChiTietSP" asp-area="Admin" id="btn_chitiet_detail" class="btn btn-primary" type="button" asp-route-id="@item.MaSp"> All Chi Tiết</a>
                                        <a asp-action="CreateChiTietSp" asp-controller="ChiTietSP" asp-area="Admin" id="btn_chitiet_detail" class="btn btn-primary" type="button" asp-route-id="@item.MaSp"> Them 1 </a>
                                    <a asp-action="AddChiTietSp" asp-route-id="@item.MaSp" class="btn btn-primary">Thêm Nhiều</a>
                                            <a asp-action="NhapHang" asp-route-id="@item.MaSp" class="btn btn-primary">Sửa Giá</a>



                        </td>
                    </tr>
                    i++;
                }
    </tbody>

</table>
</div>
</div>