@using HN120_ShopQuanAo.Data.Models;
@model HN120_ShopQuanAo.Data.Models.SanPham

@{
    ViewData["Title"] = "UpdateSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<ThuongHieu> lstTH = ViewBag.lstTH as List<ThuongHieu>;
    List<TheLoai> lstTL = ViewBag.lstTL as List<TheLoai>;
    List<ChatLieu> lstCL = ViewBag.lstCL as List<ChatLieu>;
}

<h1>UpdateSanPham</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSanPham" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MaSp" type="hidden" />

            <div class="form-group">
                <label asp-for="MaThuongHieu" class="control-label">Thương Hiệu</label>
                <select class="form-select" asp-for="MaThuongHieu" aria-label="Default select example">
                    <option value=""></option>
                    @foreach (ThuongHieu item in lstTH)
                    {
                                    <option value="@item.MaThuongHieu">@item.TenThuongHieu</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaTheLoai" class="control-label">Thể Loại</label>
                <select class="form-select" asp-for="MaTheLoai" aria-label="Default select example">
                    <option value=""></option>
                    @foreach (TheLoai item in lstTL)
                    {
                                    <option value="@item.MaTheLoai">@item.TenTheLoai</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaChatLieu" class="control-label">Chất Liệu</label>
                <select class="form-select" asp-for="MaChatLieu" aria-label="Default select example">
                    <option value=""></option>
                    @foreach (ChatLieu item in lstCL)
                    {
                                    <option value="@item.MaChatLieu">@item.TenChatLieu</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UrlAvatar" class="control-label">Ảnh</label>
                <input type="file" class="form-control" name="imageFile" />
                <span asp-validation-for="UrlAvatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label">Tên Sản Phẩm</label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả</label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="AllSanPhamManager" class="btn btn-warning">Hủy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }