@using HN120_ShopQuanAo.Data.Models;
@{
	Layout = "~/Areas/Customer/Views/Shared/_LayoutShopCustomer.cshtml";
	List<SanPham> lstSanPham = ViewBag.ListSP as List<SanPham>;
}
@if(lstSanPham == null){
	<h1>Null Rồi đại ca ơi</h1>
}
else{
	foreach(var item in lstSanPham)
	{
        <a asp-action="DetailSanPham" asp-controller="CustomerHome" asp-area="Customer" asp-route-masp="@item.MaSp">
            <div class="col-lg-4 col-md-6">
                <div class="single_product">
                    <div class="product_thumb">
                        <a href="single-product.html"><img src="~/photoSP/@item.UrlAvatar" alt=""></a>
                        <div class="img_icone">
                            <img src="~/photoSP/@item.UrlAvatar" alt="">
                        </div>
                        <div class="product_action">
                            <a asp-action="DetailSanPham" asp-controller="CustomerHome" asp-area="Customer" asp-route-masp="@item.MaSp"> <i class="fa fa-shopping-cart"></i> Mua Hàng</a>
                        </div>
                    </div>
                    <div class="product_content">
                        <span class="product_price"></span>
                        <h3 class="product_title"><a asp-action="DetailSanPham" asp-controller="CustomerHome" asp-area="Customer" asp-route-masp="@item.MaSp">@item.TenSP</a></h3>
                    </div>
                    <div class="product_info">
                        <ul>
                            <li><a asp-action="DetailSanPham" asp-controller="CustomerHome" asp-area="Customer" asp-route-masp="@item.MaSp" data-toggle="modal" data-target="#modal_box" title="Quick view">Xem Chi Tiết</a></li>
                        </ul>
                    </div>
                </div>
            </div>
		</a>
	}
}   