@model IEnumerable<HN120_ShopQuanAo.Data.Models.TheLoai>

@{
    ViewData["Title"] = "AllTheLoaiManager";
}

<h1>AllTheLoaiManager</h1>

<p>
    <a asp-action="CreateTheLoai" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaTheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                            <a asp-action="UpdateTheLoai" asp-route-id="@item.MaTheLoai" class="btn status delivered">Update</a>
                            <a asp-action="TheLoaiDetail" asp-route-id="@item.MaTheLoai" class="btn status tamkhoa"> Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
