@using HN120_ShopQuanAo.Data.Models
@using HN120_ShopQuanAo.View.Areas.Admin.Data
@model IEnumerable<HN120_ShopQuanAo.Data.Models.HoaDon>
@{
    ViewData["Title"] = "GetAllHoaDon";
    IEnumerable<User> ListUseradmin = ViewBag.ListUseradmin as IEnumerable<User>;
    IEnumerable<Voucher> lstVC = ViewBag.lstVC as IEnumerable<Voucher>;
    IEnumerable<User> Listaccout = ViewBag.Listaccout as IEnumerable<User>;
    IEnumerable<ThanhToan> lstt = ViewBag.lstt as IEnumerable<ThanhToan>;
}
<div style="height: 600px; overflow-y: auto;"> 



    <table class="table tbsp" id="page">
        <thead>
            <tr>

                <th style="text-align : center;">
                    Mã hóa đơn
                </th>

                <th style="text-align : center;">
                    Người tạo
                </th>
                <th style="text-align : center;">
                    Mã Voucher
                </th>
                <th style="text-align : center;">
                    Ngày tạo
                </th>
                <th style="text-align : center;">
                    Tên khách hàng
                </th>
                <th style="text-align : center;">
                    Số điện thoại
                </th>
                <th style="text-align : center;">
                    Phí ship
                </th>
                <th style="text-align : center;">
                    Tổng giá trị
                </th>
                <th style="text-align : center;">
                    Phương thức thanh toán
                </th>
                <th style="text-align : center;">
                    Trạng thái
                </th>
                <th>Hành động</th>

            </tr>
        </thead>
        <tbody class="data-table">
            @foreach (var item in Model)
            {
                if (item.PhanLoai == "1")
                {
                    <tr data-status="@item.TrangThai">

                        <td style="text-align : center; margin-bottom : 20px">
                            @item.MaHoaDon
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @foreach (var nv in ListUseradmin)
                            {
                                if (nv.Id == item.UserID)
                                {
                                    @nv.FullName
                                    ;
                                }
                            }
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @foreach (var vc in lstVC)
                            {
                                if (vc.MaVoucher == item.MaVoucher)
                                {
                                    @vc.Ten
                                    ;
                                }
                            }
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @item.NgayTaoDon
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @item.TenKhachHang
                             
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @item.SoDienThoai
                        </td>
                        <td style="text-align : center; margin-bottom : 20px" class="money">
                            @item.PhiShip
                        </td>
                        <td style="text-align : center; margin-bottom : 20px" class="money">
                            @item.TongGiaTriHangHoa 
                        </td>
                        <td style="text-align : center; margin-bottom : 20px">
                            @if (item.PhuongThucThanhToan == 1)
                            {
                                <p>Tiền mặt</p>
                            }
                            @if (item.PhuongThucThanhToan == 2)
                            {
                                <p>Chuyển khoản</p>

                            }
                            @if (item.PhuongThucThanhToan == 3)
                            {
                                <p>Chuyển khoản + tiền mặt</p>
                            }
                            @if (item.PhuongThucThanhToan == 4)
                            {
                                <p>Thanh toán khi nhận hàng</p>
                            }
                        </td>

                        @if (item.TrangThai == 1)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Chờ xác nhận
                            </td>
                        }
                        @if (item.TrangThai == 2)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Đã xác nhận
                            </td>
                        }
                        @if (item.TrangThai == 3)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Chờ giao hàng
                            </td>
                        }
                        @if (item.TrangThai == 4)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Đang giao
                            </td>
                        }
                        @if (item.TrangThai == 5)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Hoàn thành
                            </td>
                        }
                        @if (item.TrangThai == 6)
                        {
                            <td style="text-align : center; margin-bottom : 20px">
                                Hủy
                            </td>
                        }

                        <td>
                            <a href="@Url.Action("GetHoaDonByMa", "HoaDon", new { ma =item.MaHoaDon })" class="btn btn-primary">Chi tiết</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>