@model IEnumerable<HN120_ShopQuanAo.Data.Models.Size>

@{
    ViewData["Title"] = "AllSizeManager";
}

<h1>AllSizeManager</h1>

<p>
    <a asp-action="CreateSize" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                           <a asp-action="UpdateSize" asp-route-id="@item.MaSize" class="btn status delivered">Update</a>
                           <a asp-action="SizeDetail" asp-route-id="@item.MaSize" class="btn status tamkhoa"> Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
