@using HN120_ShopQuanAo.Data.Models
@model IEnumerable<HN120_ShopQuanAo.Data.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    IEnumerable<Voucher> lstvc = ViewBag.lstvc as IEnumerable<Voucher>;
    IEnumerable<User> lstus = ViewBag.lstus as IEnumerable<User>;
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/HoaDon.js"></script>
<h1>Hóa Đơn</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h4 style="text-align:right">Tìm kiếm</h4>
        </div> <div class="col">
            <input id="btn_Search" class="form-control" type="text" />

        </div>
        <div class="col">
            <button type="button" class="btn btn-warning">Search</button>
            <button type="button" class="btn btn-warning">Reset</button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="btn-group mb-3" role="group" aria-label="Filter by status">
                    <a href="@Url.Action("getallhoadon", "HoaDon")" class="btn btn-primary">Tất cả</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt = 1 })" class="btn btn-primary">Chờ xác nhận</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt =2 })" class="btn btn-primary">Đã xác nhận</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt =3 })" class="btn btn-primary">Chờ giao hàng</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt = 4 })" class="btn btn-primary">Đang giao hàng</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt = 5 })" class="btn btn-primary">Hoàn thành</a>
                    <a href="@Url.Action("GetAllHoaDonBySTT", "HoaDon", new { stt = 6 })" class="btn btn-primary">Đã hủy<a>
                </div>
            </div>

            <div class="card-body" id="hoaDonContainer">
                @Html.Partial("HoaDon_Partialview", Model)
            </div>

        </div>
    </div>
</div>
